
<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">


                <div class="text-center">
                  <img src="https://media.istockphoto.com/id/1219808483/vector/document-list-with-tick-check-marks-on-clipboard-with-fork-and-tablespoon-utensils-vector.jpg?s=612x612&w=0&k=20&c=wOJmqM0-6XknDS1J3O82w0OQ5aC7Mqdxdy4RTKsVsqE="
                       style="width: 400px;" alt="logo">
                  <p  class="h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
                </div>


                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <%= render "devise/shared/error_messages", resource: resource %>


                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                      <%= f.email_field :email, placeholder: "E-mail", class: " form-label form-control", autofocus: true, autocomplete: "email" %>
                    </div>
                  </div>




                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                      <% if @minimum_password_length %>
                        <em  style="color: red;">(<%= @minimum_password_length %> characters minimum)</em>
                      <% end %><br />
                      <%= f.password_field :password, placeholder: "Password", class: " form-label form-control", autocomplete: "new-password" %>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                      <%= f.password_field :password_confirmation, class: " form-label form-control", placeholder: "Password confirmation", autocomplete: "new-password" %>
                    </div>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <%= f.submit "Sign up", class: "btn btn-primary btn-block fa-lg gradient-custom-2" %>  <!--btn btn-primary btn-lg   -->
                  </div>


                <% end %>

                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4 ">
                  <h2 class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3"> <%= render "devise/shared/links" %> </h2>
                </div>



              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>










