

<ul class="nav nav-pills justify-content-center mt-4">

  <li class="nav-item">
    <%= link_to "Welcome", meals_by_day_path(week_id: current_week&.id), class: "nav-link #{ "active" if current_page?(meals_by_day_path(week_id: current_week&.id)) }" %>
  </li>
  <li class="nav-item">
    <%= link_to "Meals", meals_path, class: "nav-link #{ "active" if request.path == meals_path } #{'disabled' if current_user.is_admin == 0}" %>
  </li>
  <li class="nav-item">
    <%= link_to "Add Meal", new_meal_path, class: "nav-link #{ "active" if current_page?(new_meal_path)} #{'disabled' if current_user.is_admin == 0} " %>
  </li>
  <li class="nav-item">
    <%= link_to "Edit", edit_user_registration_path, class: "nav-link #{ "active" if current_page?(edit_user_registration_path)}" %>
  </li><li class="nav-item">
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
  </li>
</ul>