<%= render "shared/nav" %>

<div class="row gx-4 justify-content-center mt-5 mb-5">
  <div class="col-sm-3 col-12">
    <div class="p-3 rounded-2 border rounded-2">

      <!-- Static Image -->
      <!--        <img src="https://www.bootdey.com/image/280x280/87CEFA/000000" class="img-7x rounded-circle mb-3" alt="Meal Image">-->

      <!-- Title -->
      <h5><strong>Title:</strong> <%= @meal.title %></h5>

      <ul class="list-group">
        <!-- Description -->
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <strong>Description:</strong>
          <span><%= @meal.description %></span>
        </li>

        <!-- Meal Type -->
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <strong>Meal Type:</strong>
          <span><%= @meal.meal_type %></span>
        </li>

        <!-- Calories -->
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <strong>Calories:</strong>
          <span><%= @meal.calories %></span>
        </li>
      </ul>
      

      <!-- Actions (Edit, Delete, Back) -->
      <div class="mt-2 text-center">
        <%= link_to "Edit", edit_meal_path(@meal), class: "btn btn-warning btn-sm mb-1" %>
        <%= button_to "Delete", meal_path(@meal), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm mb-1" %>
        <%= link_to "Back to Meals", meals_path, class: "btn btn-secondary btn-sm" %>
      </div>

    </div>
  </div>
</div>
